[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=tikhon
Group=www-data
Environment = DJANGO_SETTINGS_MODULE=mountaintea_band_site.settings.production
WorkingDirectory=/home/tikhon/mountaintea-band-site
ExecStart=/home/tikhon/mountaintea-band-site/env/bin/gunicorn \
          --access-logfile - \
          --workers 1 \
          --bind unix:/run/gunicorn.sock \
          mountaineer_band_site.wsgi:application

[Install]
WantedBy=multi-user.target
