[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=tikhon
Group=www-data
Environment = DJANGO_SETTINGS_MODULE=gornijchaij.settings.production
WorkingDirectory=/home/tikhon/gornijchaij
ExecStart=/home/tikhon/gornijchaij/env/bin/gunicorn \
          --access-logfile - \
          --workers 1 \
          --bind unix:/run/gunicorn.sock \
          gornijchaij.wsgi:application

[Install]
WantedBy=multi-user.target
