python-dotenv==1.0.1

# Django dependencies
Django==5.1.5
django-filter==24.3
django-cleanup==9.0.0
djangorestframework==3.15.2
django-cors-headers==4.6.0
django-phonenumber-field==8.0.0
phonenumbers==8.13.53

# QR code generation
pillow==11.1.0
qrcode==8.0

# Email template rendering
html2text==2024.2.26

# Production deploy
sentry-sdk==2.20.0
psycopg2-binary==2.9.10
gunicorn==23.0.0
