{% extends "base.html" %}

{% load my_filters %}

{% block title %}Добавить бесплантный билет{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-2">Добавить бесплатный билет</h2>
        {% if created %}
            <div class="alert alert-success" role="alert">
                Билет успешно создан.
            </div>
        {% endif %}
        <span class="text-warning">Обратите внимение, что добавлять бесплатный билеты можно только по согласованию.</span>
        <div class="shadow bg-white p-3 mt-3 mb-5 rounded">
            <form method="post" role="form">
                {% csrf_token %}

                {% include "form.html" %}

                {% if messages %}
                    <br/>
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <br/>
                {% endif %}

                <div class="d-grid">
                    <button class="btn btn-outline-secondary" type="submit">
                        Подтвердить
                    </button>
                </div>
            </form>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}


{% block script %}
    <script src="https://unpkg.com/imask"></script>
    <script>
        // noinspection ES6ConvertVarToLetConst
        var phoneMask = IMask(
            document.getElementById('id_phone_number'), {
                mask: '+{7}0000000000'
            });
    </script>
{% endblock %}
