{% extends "base.html" %}

{% load my_filters %}

{% block title %}Issue manager{% endblock %}

{% block description %}Страница персонала{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-2">Обращение</h2>
        <p><a href="{% url 'staff' %}">На главную</a></p>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ issue.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ issue.date_created }}, номер {{ issue.id }}</h6>
                <div class="card bg-light mb-2">
                    <div class="card-body">
                        {{ issue.description }}
                    </div>
                </div>

                {% if issue.contact_telegram %}
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col align-self-center">
                                    Теlegram: <kbd id="telegram" class="card-text">{{ issue.contact_telegram }}</kbd>
                                </div>
                                <div class="col align-self-center">
                                    <a href="#" class="btn btn-outline-secondary btn-sm float-end" id="copyb"
                                       onclick="CopyToClipboard('telegram');">Скопировать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if issue.contact_email %}
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col align-self-center">
                                    Email: <kbd id="email" class="card-text">{{ issue.contact_email }}</kbd>
                                </div>
                                <div class="col align-self-center">
                                    <a href="#" class="btn btn-outline-secondary btn-sm float-end" id="copyb"
                                       onclick="CopyToClipboard('email');">Скопировать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <p class="mt-2">Менеджер: {{ manager }}.</p>


                {% if issue.is_closed %}
                    <h6 class="card-subtitle mb-2 text-muted">Обращение закрыто.</h6>
                {% else %}
                    {% if issue.manager is None %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="get_task">
                            <button type="submit" class="btn btn-secondary">Взять задачу</button>
                        </form>
                    {% endif %}
                    {% if is_manager %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="done_task">
                            <button type="submit" class="btn btn-primary">Закрыть задачу</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% include "footer.html" %}
    </div>
{% endblock %}

{% block script %}
    <script>
        function CopyToClipboard(id) {
            var r = document.createRange();
            r.selectNode(document.getElementById(id));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();

            var abc = document.getElementById("copyb");
            abc.innerHTML = "Скопировано";
        }
    </script>
{% endblock %}
