{% extends "base.html" %}

{% block title %}Страница персонала{% endblock %}

{% block description %}Страница персонала{% endblock %}

{% block body %}
    <div class="container pt-3">
        <ul class="nav justify-content-center mt-1 mb-3">
            <li class="nav-item">
                <a aria-current="page" aria-disabled="true" class="nav-link disabled" href="{% url 'staff' %}">Добро
                    пожаловать, {{ user.first_name|default:"аноним" }}!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'staff-free-ticket' %}">Добавить бесплатный билет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'submit-number' %}">Проверить билет по номеру</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'qrcode' %}">
                    Сканировать QR код
                </a>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
                </li>
            {% endif %}
        </ul>

        <div class="card">
            <div class="card-body">
                {% if concerts %}
                    <h5 class="card-title">Статистика концертов</h5>
                    {% for concert in concerts %}
                        <a class="btn btn-light btn-sm"
                           href="{% url 'staff-concert-statistic' concert=concert.id %}">{{ concert.title|title }}</a>
                    {% endfor %}
                {% endif %}
                {% if concerts_done %}
                    <h5 class="card-title">Статистика прошедших концертов</h5>
                    {% for concert in concerts_done %}
                        <a class="btn btn-light btn-sm"
                           href="{% url 'staff-concert-statistic' concert=concert.id %}">{{ concert.title|title }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% if working_issues %}
            <h1 class="mt-5">Обращения у вас в работе</h1>
            {% for issue in working_issues %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ issue.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ issue.date_created }}</h6>
                        <p class="card-text">{{ issue.description }}</p>
                        <a href="{% url 'issue' issue=issue.id %}" class="card-link stretched-link">Посмотреть ➔</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if available_issues %}
            <h1 class="mt-5">Нерассмотренные обращения</h1>
            {% for issue in available_issues %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ issue.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ issue.date_created }}</h6>
                        <p class="card-text">{{ issue.description }}</p>
                        <a href="{% url 'issue' issue=issue.id %}" class="card-link stretched-link">Посмотреть ➔</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% include "footer.html" %}
    </div>
{% endblock %}
