{% extends "base.html" %}

{% block title %}Подтверждение билета {{ ticket.number }}{% endblock %}

{% block description %}Страница персонала{% endblock %}

{% block body %}
    <div class="container text-center pt-3">
        <h1>Билет</h1>

        <p><a href="{% url 'staff' %}">На главную</a></p>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><b>{{ ticket.number }}</b></h3>
                <h6 class="card-subtitle mb-2">
                    {% if ticket.transaction.is_done %}
                        <div class="text-success">Оплачено ({{ ticket.price.price|floatformat:2 }} рублей)</div>
                    {% else %}
                        <div class="text-danger">Не оплачено ({{ ticket.price.price|floatformat:2 }} рублей)</div>
                    {% endif %}
                    {% if ticket.is_active %}
                        <div class="text-success">Активен</div>
                    {% else %}
                        <div class="text-danger">Использован</div>
                    {% endif %}
                </h6>
                <p class="card-text">ФИО оформителя: <b>{{ ticket.transaction.user.first_name }}</b></p>
                <p class="card-text">Телефон: <b>{{ ticket.transaction.user.profile.phone }}</b></p>
                <p class="card-text">Email: <b>{{ ticket.transaction.user.email }}</b></p>

                {% if ticket.transaction.is_done %}
                    {% if ticket.is_active %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="btn btn-secondary mb-2" type="submit">Использовать</button>
                        </form>
                    {% endif %}
                {% endif %}

                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Показать детали транзакции
                </button>

                <div class="collapse" id="collapseExample">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ ticket.transaction.get_email_status_display }}</li>
                        <li class="list-group-item">
                            <span>Status and code: </span>
                            {{ ticket.transaction.email_delivery_message }}, {{ ticket.transaction.email_delivery_code }}
                        </li>
                        <li class="list-group-item">{{ ticket.transaction.date_created|date:"H:i d.m.y" }}</li>
                        <li class="list-group-item">Сумма: {{ ticket.transaction.amount_sum }}</li>
                        {#                        <li class="list-group-item">Билеты в транзакции:#}
                        {#                            {% for t in ticket.transaction %}#}
                        {#                                {% if t.id == ticket.if %}#}
                        {#                                    <div class="text-secondary">Этот билет </div>#}
                        {#                                {% else %}#}
                        {#                                    <a href="/staff/submit/{{ t.number }}/{{ t.get_hash }}/">{{ t.number }}</a>#}
                        {#                                {% endif %}#}
                        {#                            {% endfor %}#}
                        {#                        </li>#}
                    </ul>
                </div>
                <p></p>
                <a href="{% url 'submit-number' %}">Проверить билет по номеру</a>
            </div>
        </div>

        {% include "footer.html" %}
    </div>
{% endblock %}
