{% extends "base.html" %}

{% block title %}Подверждение билета по номеру{% endblock %}

{% block body %}
    <!--suppress ES6ConvertVarToLetConst -->
    <div class="container text-center pt-3 form-floating">
        <h1>Найти билет по номеру</h1>
        {% if number %}
            <div class="alert alert-danger" role="alert">
                Такого билета не существет! Попробуйте еще или обратитесь к администратору.
            </div>
        {% endif %}
        <form method="post" class="form-floating">
            {% csrf_token %}
            <input type="number" placeholder="123456" class="form-control" id="ticket_number" name="ticket" required
                   {% if number %}value="{{ number }}" {% endif %}/>
            <label for="ticket_number">Номер билета</label>
            <button type="submit" class="btn mt-3 btn-secondary">Использовать</button>
        </form>
        {% include "footer.html" %}
    </div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/imask"></script>
    <script>
        var phoneMask = IMask(
            document.getElementById('ticket_number'), {
                mask: '000000'
            });
    </script>
{% endblock %}
