{% extends "base.html" %}

{% block title %}Проверка билета номер "{{ ticket.number }}"{% endblock %}

{% block description %}Страница персонала{% endblock %}

{% block body %}
    <div class="container">
        <h1>Проверка билета номер "{{ ticket.number }}".</h1>

        <p>
            <a href="{% url 'staff' %}">На главную.</a>
            <a href="{% url 'submit-number' %}">Проверить билет по номеру.</a>
        </p>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    <i class="fa-solid fa-ticket"></i>
                    {{ ticket.number }}
                </h3>
                <h6 class="card-subtitle mb-2">
                    {% if ticket.transaction.is_done %}
                        <div class="text-success">
                            <i class="fa-solid fa-comment-dollar"></i>
                            ({{ ticket.price.price|floatformat:2 }} рублей за билет)
                        </div>
                    {% else %}
                        <div class="text-danger">
                            <i class="fa-solid fa-file-invoice-dollar fa-beat-fade"></i> Не оплачено.
                        </div>
                    {% endif %}
                    {% if ticket.is_active %}
                        <div class="text-success">Активен</div>
                    {% else %}
                        <div class="text-danger">Использован</div>
                    {% endif %}
                </h6>
                <p class="card-text">ФИО оформителя: <b>{{ ticket.transaction.user.first_name }}</b></p>
                <p class="card-text">Телефон: <b>{{ ticket.transaction.user.profile.phone }}</b></p>
                <p class="card-text">
                    Email: <b>{{ ticket.transaction.user.email }}</b>
                    <a class="link-secondary" data-bs-toggle="collapse" href="#collapseChangeEmail" role="button"
                       aria-expanded="false" aria-controls="collapseChangeEmail">
                        изменить
                    </a>
                </p>
                <p class="card-text"><small>{{ ticket.transaction.concert.full_title }}</small></p>

                <div class="collapse mb-2" id="collapseChangeEmail">
                    <div class="card card-body">
                        <form method="post" class="form-floating">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="change_email">

                            <input name="email" type="email" class="form-control" id="floatingInputValue"
                                   placeholder="name@example.com" value="{{ ticket.transaction.user.email }}">
                            <label for="floatingInputValue">Электронная почта</label>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="flexSwitchCheckDefault" name="send_email">
                                <label class="form-check-label" for="flexSwitchCheckDefault">
                                    Заново отправить сообщение
                                </label>
                            </div>
                            <button type="submit" class="btn btn-secondary btn-sm">Подтвердить</button>
                        </form>
                    </div>
                </div>

                {% if ticket.transaction.is_done and show_use_button and ticket.is_active %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="use">
                        <button class="btn btn-secondary mb-2" type="submit">Использовать</button>
                    </form>
                {% endif %}

                <a class="link-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Показать детали транзакции
                </a>

                <div class="collapse" id="collapseExample">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa-solid fa-envelope"></i> {{ ticket.transaction.get_email_status_display }}
                        </li>
                        {% if ticket.transaction.email_status != "unnecessary" and ticket.transaction.email_status != "delivered" and ticket.transaction.email_status != "opened" %}
                            <li class="list-group-item">
                                <i class="fa-solid fa-circle-exclamation fa-beat-fade text-danger"></i>
                                <span>Status and code: </span>
                                {{ ticket.transaction.email_delivery_message }}, {{ ticket.transaction.email_delivery_code }}
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            Транзакция создана: {{ ticket.transaction.date_created|date:"H:i d M Y года." }}
                            {% if ticket.transaction.is_done %}
                                Закрыта: {{ ticket.transaction.date_closed|date:"H:i d M Y года." }}
                            {% endif %}
                        </li>
                        {% if ticket.transaction.amount_sum %}
                            <li class="list-group-item">Сумма транзакции: {{ ticket.transaction.amount_sum }} рублей.
                            </li>
                        {% endif %}
                    </ul>
                </div>


            </div>
        </div>

        {% include "footer.html" %}
    </div>
{% endblock %}
