{% extends "base.html" %}

{% load static %}

{% block metrika %}{% include "metric.html" %}{% endblock %}

{% block title %}Горный Чай - 404{% endblock %}

{% block style %}
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap" rel="stylesheet">
    <style>
        body { background-color: #000000; }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <section class="row no-gutters align-items-center">
            <div class="col-12 text-center d-flex text-white">
                <h1 class="position-absolute translate-middle font-title"
                    style="position:absolute;left: 50%;transform: translate(-50%, -50%);">
                    <br><br><br>404
                </h1>
            </div>
        </section>
    </div>
    <img alt="background" src="{% static 'background2.jpeg' %}" class="img-fluid" style="width:100%;">
    <div class="container">
        <div class="text-center text-white">
            <p>Такой страницы нет. Не расстраивайтся, завари горного чая и ищи дальше!</p>
            <p><a href="/">На главную.</a></p>

            {% include "footer.html" %}
        </div>
    </div>
{% endblock %}
