{% extends "base.html" %}

{% load static %}

{% block metrika %}{% include "metric.html" %}{% endblock %}

{% block title %}Горный Чай - 500{% endblock %}

{% block style %}
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap" rel="stylesheet">
    <style>
        body { background-color: #000000; }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <section class="row no-gutters align-items-center">
            <div class="col-12 text-center d-flex text-white">
                <h1 class="position-absolute translate-middle font-title"
                    style="position:absolute;left: 50%;transform: translate(-50%, -50%);">
                    <br><br><br>500
                </h1>
            </div>
        </section>
    </div>
    <img alt="background" src="{% static 'background2.jpeg' %}" class="img-fluid" style="width:100%;">

    <div class="container">
        <div class="text-center text-white">
            <p>
                Ошибка серевера! Ой... Мы обязательно это исправим! Напиши о проблеме
                <button type="button" class="btn btn-link link-secondary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                    Напиши сюда, если что-то не работает
                </button>, завари чая и жди ремонта!
            </p>
            <p><a href="/">На главную.</a></p>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" id="issue">

                <div class="d-flex justify-content-center align-middle my-5">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/submit_issue.2.js' %}"></script>
{% endblock %}
