<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="Офицальный сайт группы Горный Чай">
    <meta name="author" content="Gornij Chaij Ltd.">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="KLbLEa1WaCDlZ0M1PqWU5CqIqlMGnEIaqpLL8sXeVUk" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    {% block metrika %}{% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'favicomatic/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'favicomatic/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'favicomatic/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'favicomatic/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'favicomatic/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'favicomatic/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'favicomatic/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicomatic/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'favicomatic/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'favicomatic/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'favicomatic/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'favicomatic/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'favicomatic/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

    <title>{% block title %}{% endblock %}</title>

    {% block style %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
