<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8"/>

    <meta content="Офицальный сайт группы Горный Чай." name="description">
    <meta content="Gornij Chaij Ltd." name="author">

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="KLbLEa1WaCDlZ0M1PqWU5CqIqlMGnEIaqpLL8sXeVUk" name="google-site-verification"/>

    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            rel="stylesheet"
    />

    {% block metrika %}{% endblock %}

    <link href="{% static 'favicomatic/apple-touch-icon-57x57.png' %}" rel="apple-touch-icon-precomposed"
          sizes="57x57"/>
    <link href="{% static 'favicomatic/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon-precomposed"
          sizes="114x114"/>
    <link href="{% static 'favicomatic/apple-touch-icon-72x72.png' %}" rel="apple-touch-icon-precomposed"
          sizes="72x72"/>
    <link href="{% static 'favicomatic/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon-precomposed"
          sizes="144x144"/>
    <link href="{% static 'favicomatic/apple-touch-icon-60x60.png' %}" rel="apple-touch-icon-precomposed"
          sizes="60x60"/>
    <link href="{% static 'favicomatic/apple-touch-icon-120x120.png' %}" rel="apple-touch-icon-precomposed"
          sizes="120x120"/>
    <link href="{% static 'favicomatic/apple-touch-icon-76x76.png' %}" rel="apple-touch-icon-precomposed"
          sizes="76x76"/>
    <link href="{% static 'favicomatic/apple-touch-icon-152x152.png' %}" rel="apple-touch-icon-precomposed"
          sizes="152x152"/>
    <link href="{% static 'favicomatic/favicon-196x196.png' %}" rel="icon" sizes="196x196" type="image/png"/>
    <link href="{% static 'favicomatic/favicon-96x96.png' %}" rel="icon" sizes="96x96" type="image/png"/>
    <link href="{% static 'favicomatic/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png"/>
    <link href="{% static 'favicomatic/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png"/>
    <link href="{% static 'favicomatic/favicon-128.png' %}" rel="icon" sizes="128x128" type="image/png"/>
    <meta content="&nbsp;" name="application-name"/>
    <meta content="#FFFFFF" name="msapplication-TileColor"/>
    <meta content="mstile-144x144.png" name="msapplication-TileImage"/>
    <meta content="mstile-70x70.png" name="msapplication-square70x70logo"/>
    <meta content="mstile-150x150.png" name="msapplication-square150x150logo"/>
    <meta content="mstile-310x150.png" name="msapplication-wide310x150logo"/>
    <meta content="mstile-310x310.png" name="msapplication-square310x310logo"/>

    <title>{% block title %}{% endblock %}</title>

    {% block style %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

<script
        crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
></script>
{% block script %}
{% endblock %}
</body>
</html>
