{% extends "base.html" %}

{% load my_filters %}

{% block metrika %}{% include "metric.html" %}{% endblock %}

{% block title %}Купить билет на {{ concert.title }}{% endblock %}

{% block description %}
    Купить билет на концерт {{ concert.title }}.
    {{ concert.description }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h2>Билет на концерт - {{ concert.title|title }}</h2>
            <p>{{ concert.date_time }}</p>
        </div>

        <div class="shadow{% if paying %}-none bg-light{% else %} bg-white{% endif %} p-3 mb-5 rounded">
            {% if sold_out %}
                <div class="text-center">К сожалению, билеты закончились.</div>
            {% else %}
                <form role="form" method="post">
                    {% csrf_token %}
                    {% include "form.html" %}
                    <br/>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <div class="row">
                        {% for price in prices %}
                            <div class="col-sm">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">{{ price.price|floatformat:2 }} {{ price.currency }}</h6>
                                        <p class="card-text">{{ price.description }}</p>
                                        <div class="row mb-3">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Количество:
                                            </label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-text"
                                                          onclick="this.parentNode.parentNode.querySelector('#ticketsCount').stepDown()">-</span>
                                                    <input class="form-control" name="price_count_{{ price.id }}"
                                                           min="0"
                                                           step="1" type="number" value="{% if price.id in f_tickets %}{{ f_tickets|get_item:price.id }}{% else %}0{% endif %}"
                                                           id="ticketsCount"/>
                                                    <span class="input-group-text"
                                                          onclick="this.parentNode.parentNode.querySelector('#ticketsCount').stepUp()">+</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br/>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-outline-secondary">
                            {% if paying %}Изменить{% else %}Продолжить{% endif %}
                        </button>
                    </div>
                </form>
            {% endif %}
        </div>

        {% if not sold_out %}
            {% if paying %}
                <div class="shadow{% if not paying %}-none bg-light{% else %} bg-white{% endif %} p-3 mb-5 rounded">
                    <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml"
                          class="row row-cols-lg-auto g-3 align-items-center">
                        <legend>К оплате {{ amount_sum|floatformat:2 }} руб.</legend>

                        <input type="hidden" name="successURL"
                               value="https://mountainteaband.ru/concerts/tickets/donepayment/?t={{ transaction.id }}"/>
                        <input type="hidden" name="receiver" value="{{ concert.yandex_wallet_receiver }}"/>
                        <input type="hidden" name="formcomment" value="Горный Чай: {{ concert.title }}"/>
                        <input type="hidden" name="short-dest" value="Горный Чай: {{ concert.title }}"/>
                        <input type="hidden" name="label" value="{{ transaction.id }}"/>
                        <input type="hidden" name="quickpay-form" value="shop"/>
                        <input type="hidden" name="targets" value="Горный Чай: {{ concert.title }}"/>
                        <input type="hidden" name="sum" value="{{ amount_sum }}" data-type="number"/>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentType" value="PC"
                                   {% if not paying %}disabled{% endif %}/>
                            <label class="form-check-label" for="inlineRadio1">ЮMoney (Яндекс.Деньги)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentType" value="AC"
                                   {% if not paying %}disabled{% endif %}/>
                            <label class="form-check-label" for="inlineRadio2">Банковской картой</label>
                        </div>

                        <div class="col-auto">
                            <button type="submit"
                                    class="btn btn-outline-secondary {% if not paying %}disabled{% endif %}">
                                Перевести
                            </button>
                        </div>
                    </form>
                </div>

            {% endif %}
        {% endif %}
        {% include "footer.html" %}
    </div>
{% endblock %}


{% block script %}
    <script src="https://unpkg.com/imask"></script>
    <script>
        var phoneMask = IMask(
            document.getElementById('id_phone_number'), {
                mask: '+{7}0000000000'
            });
    </script>
    {% if paying %}
        <script type="text/javascript">
            window.scrollTo(0, document.body.scrollHeight);
        </script>
    {% endif %}
{% endblock %}
