{% extends "base.html" %}

{% load static %}
{% load my_filters %}

{% block metrika %}{% include "metric.html" %}{% endblock %}

{% block title %}Купить билет на {{ concert.title }}{% endblock %}

{% block description %}
    Купить билет на концерт {{ concert.title }}.
    {{ concert.description }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="app">
            <div class="d-flex justify-content-center align-middle my-5">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/buy_ticket.js' %}"></script>
{% endblock %}
