{% extends "base.html" %}

{% block metrika %}{% include "metric.html" %}{% endblock %}

{% block title %}Концерты - Горный Чай{% endblock %}

{% block description %}
    Концерты группы Горный чай. Купить билеты.
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Концерты и шоу</h1>

        {% for concert in concerts_active %}
            <div class="card shadow p-3 mb-5 bg-white rounded" itemscope itemtype="https://schema.org/MusicEvent">
                <div class="card-body">
                    <h4 class="card-title" itemprop="name">{{ concert.full_title|title }}</h4>

                    <div itemprop="location" itemscope itemtype="https://schema.org/Place">
                        {% if concert.place_url %}
                            <a class="link-secondary" href="{{ concert.place_url }}" itemprop="url"></a>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted" itemprop="name">
                            <span itemprop="name">{{ concert.place_name }}</span>:
                            <span itemprop="address">{{ concert.place_address }}</span>
                        </h6>
                    </div>

                    {% if concert.description %}
                        <p class="card-text" itemprop="description">{{ concert.description }}</p>
                    {% endif %}
                    <meta itemprop="startDate" content="{{ concert.start_date_time|date:"c" }}">
                    {% if concert.end_date_time %}
                        <meta itemprop="endDate" content="{{ concert.end_date_time|date:"c" }}">
                    {% endif %}
                    <meta itemprop="eventStatus" content="{{ concert.status }}">
                    <meta itemprop="eventAttendanceMode" content="OnlineEventAttendanceMode">
                    {% if concert.image %}
                        <meta itemprop="image" content="{{ concert.image.url }}">
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ concert.start_date_time }}</h6>

                    <a class="stretched-link" href="{% url 'concert' concert_id=concert.id %}" itemprop="url"></a>
                </div>
            </div>
        {% endfor %}

        {% if concerts_disabled %}
            <divider></divider>
            <h3>Завершенные концерты</h3>
            {% for concert in concerts_disabled %}
                <div class="card shadow p-3 mb-5 bg-white rounded" itemscope itemtype="https://schema.org/MusicEvent">
                    <div class="card-body">
                        <h4 class="card-title" itemprop="name">{{ concert.full_title|title }}</h4>

                        <div itemprop="location" itemscope itemtype="https://schema.org/Place">
                            {% if concert.place_url %}
                                <a class="link-secondary" href="{{ concert.place_url }}" itemprop="url"></a>
                            {% endif %}
                            <h6 class="card-subtitle mb-2 text-muted" itemprop="name">
                                <span itemprop="name">{{ concert.place_name }}</span>:
                                <span itemprop="address">{{ concert.place_address }}</span>
                            </h6>
                        </div>

                        {% if concert.description %}
                            <p class="card-text" itemprop="description">{{ concert.description }}</p>
                        {% endif %}
                        <meta itemprop="startDate" content="{{ concert.start_date_time|date:"c" }}">
                        {% if concert.end_date_time %}
                            <meta itemprop="endDate" content="{{ concert.end_date_time|date:"c" }}">
                        {% endif %}
                        <meta itemprop="eventStatus" content="{{ concert.status }}">
                        <meta itemprop="eventAttendanceMode" content="OnlineEventAttendanceMode">
                        {% if concert.image %}
                            <meta itemprop="image" content="{{ concert.image.url }}">
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ concert.start_date_time }}</h6>

                        <a class="stretched-link" href="{% url 'concert' concert_id=concert.id %}" itemprop="url"></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% include "footer.html" %}
    </div>
{% endblock %}
