{% extends "base.html" %}

{% load static %}

{% block title %}Миша Мещерин и Горный Чай в PUNK FICTION{% endblock %}

{% block style %}
<style>
  body {
    background-color: #000000;
  }

  .dialogue {
    line-height: 1.25;
    overflow: hidden;
    margin-bottom: -2.5em;
  }

  p,
  h3 {
    color: #ffffff;
  }

  img {
    width: 100%;
  }
  h2{
    font-family: 'Playfair Display SC', serif;
    color: #ffffff;
  }
</style>
{% endblock %}

{% block body %}
<div class="text-center" style="background-image: url({% static 'poster.jpeg' %});">

  <div class="container pt-5">
    <center>
      <div class="col-md-2 pb-3 px-0">
        <img src="{% static 'poster 2.jpeg' %}" class="img-thumbnail rounded-circle img-fluid" alt="Мы на фото">
      </div>
    </center>

    <h3>Миша Мещерин и Горный Чай в PUNK FICTION</h3>

    <p>
      3 марта в баре «PUNK FICTION» пройдёт совместный концерт Миши Мещерина и
      группы «Горный Чай». Помимо уже известных песен Миши вы услышите
      композиции с дебютного EP «Горного Чая»
    </p>

    <p>
      Вход строго 16+ (на входе оригинал паспорта или водительского
      удостоверения)
    </p>

    <p>
      Москва, Ольховская улица, 14с1, арт-пространство «Авиатор» (5 минут м.
      Бауманская и м. Красносельская)
    </p>

    <center>
      <div class="col-md-3 px-0">
        <img src="{% static 'punkfiction.png' %}" class="rounded mx-auto d-block" alt="Punkfiction">
      </div>
    </center>
    <br>
    <h2 class="pb-2">16+</h2>

    <div class="d-grid gap-2 pb-5">
      <a href="tickets/" role="button" class="btn btn-outline-light">Купить билет</a>
    </div>
    <footer class="pt-4 my-md-5  border-top">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">Горный Чай © 2021 <a class="link-secondary" href="https://t.me/tikhonnnnn">Напишите сюда, если что-то не работает</a></small>
        </div>
      </div>
    </footer>

  </div>
</div>
{% endblock %}
