{% load static %}

<footer class="mt-4 mb-2 text-center">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">
                Горный Чай © {% now 'Y' %}
                <button type="button" class="btn btn-link link-secondary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropSupport">
                    Напишите сюда, если что-то не работает
                </button>
            </small>
        </div>
    </div>
</footer>

<div class="modal fade" id="staticBackdropSupport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropSupportLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="issue">
            <div class="d-flex justify-content-center align-middle my-5">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="{% static 'js/submit_issue.4.js' %}" crossorigin="anonymous"></script>
