{% extends "base.html" %}

{% load static %}

{% block metrika %}{% include "metric.html" %}{% endblock %}

{% block title %}Горный Чай - Офицальный сайт{% endblock %}

{% block description %}
    Горный Чай - молодая московская группа, играющая на стыке жанров инди, альтернативы и фанка.
    11 февраля вышел дебютный EP "Сборник прошлогодних песен".
{% endblock %}

{% block style %}
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #000000;
        }

        p,
        h3,
        h1,
        h5 {
            color: #ffffff;
        }

        .fonttitle {
            font-family: 'Playfair Display SC', serif;
            font-size: 60px;
        }

        h3,
        h5 {
            font-family: 'Playfair Display SC', serif;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <section class="row no-gutters align-items-center">
            <div class="col-12 text-center d-flex">
                <img alt="background" class="img-fluid of" src="{% static 'background2.jpeg' %}" style="width:100%;">
                <h1 class="position-absolute top-0 start-50 translate-middle text-light fonttitle"><br><br><br>
                    Горный Чай</h1>
            </div>
        </section>
    </div>

    <div class="container">
        <div class="text-center">
            <div itemscope itemtype="http://schema.org/MusicGroup">
                <h3>Кто мы?</h3>
                <center>
                    <div class="col-md-2 px-0" style="text-align: center;">
                        <a href="{% static 'avatar_band.jpeg' %}" itemprop="image">
                            <img alt="Мы на фото" class="img-thumbnail rounded-circle img-fluid"
                                 src="{% static 'avatar_band.jpeg' %}">
                        </a>
                    </div>
                </center>
                <br>
                <p>
                    <span itemprop="name">Горный Чай</span> -
                    <span itemprop="description">молодая московская группа, играющая на стыке жанров инди, альтернативы и фанка.</span>
                    <span itemprop="album" itemscope itemtype="http://schema.org/MusicAlbum">
                        <span itemprop="dateCreated">11 февраля 2021 года</span> вышел дебютный EP
                        "<span itemprop="name">Сборник прошлогодних песен</span>".
                        <meta content="4" itemprop="numTracks"/>
                        <meta content="Alt/Rock" itemprop="genre"/>
                    </span>
                </p>
                <br>
                <h3 class="pb-2">Концерты</h3>
                {% for concert in concerts %}
                    <div class="pb-2" itemprop="event" itemscope itemtype="https://schema.org/MusicEvent">
                        <div class="card bg-dark text-white rounded">
                            <div class="card-body">
                                <h4 class="card-title" itemprop="name">{{ concert.full_title|title }}</h4>

                                <div itemprop="location" itemscope itemtype="https://schema.org/Place">
                                    {% if concert.place_url %}
                                        <a class="link-secondary" href="{{ concert.place_url }}" itemprop="url"></a>
                                    {% endif %}
                                    <h6 class="card-subtitle mb-2 text-muted" itemprop="name">
                                        <span itemprop="name">{{ concert.place_name }}</span>:
                                        <span itemprop="address">{{ concert.place_address }}</span>
                                    </h6>
                                </div>

                                {% if concert.description %}
                                    <p class="card-text" itemprop="description">{{ concert.description }}</p>
                                {% endif %}
                                <meta itemprop="startDate" content="{{ concert.start_date_time|date:"c" }}">
                                {% if concert.end_date_time %}
                                    <meta itemprop="endDate" content="{{ concert.end_date_time|date:"c" }}">
                                {% endif %}
                                <meta itemprop="eventStatus" content="{{ concert.status }}">
                                <meta itemprop="eventAttendanceMode" content="OnlineEventAttendanceMode">
                                {% if concert.image %}
                                    <meta itemprop="image" content="{{ concert.image.url }}">
                                {% endif %}
                                <h6 class="card-subtitle mb-2 text-muted">{{ concert.start_date_time }}</h6>

                                <a class="stretched-link" href="{% url 'concert' concert.id %}" itemprop="url"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <br>
                <div class="d-grid">
                    <a class="btn btn-outline-light" href="{% url 'concerts' %}" role="button">Все концерты -></a>
                </div>
                <br>
                <h3 class="pb-3">Релизы</h3>
                <div style="max-width:100%;">
                    <div style="position:relative;padding-bottom:calc(56.25% + 52px);height: 0;">
                        <iframe allowfullscreen height="100%"
                                sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox"
                                src="https://embed.song.link/?url=https%3A%2F%2Falbum.link%2FpM8ps7SZRr6pV&theme=dark"
                                style="position:absolute;top:0;left:0;border:none;"
                                width="100%">
                        </iframe>
                    </div>
                </div>

                <footer class="pt-4 my-md-5 pt-md-5 border-top">
                    <div class="row">
                        <div class="col-12 col-md">
                            <small class="d-block mb-3 text-muted">Горный Чай © {% now 'Y' %}</small>
                        </div>
                        <div class="col-6 col-md">
                            <h5>Контакты</h5>
                            <ul class="list-unstyled text-small">
                                <li><a target="_blank" class="link-secondary" itemprop="url"
                                       href="https://www.instagram.com/mountainteaaa/">Instagram</a>
                                </li>
                                <li><a target="_blank" class="link-secondary" itemprop="url"
                                       href="https://vk.com/mountainteaaa">ВКонтакте</a></li>
                                <li><a target="_blank" class="link-secondary" itemprop="url"
                                       href="https://www.youtube.com/channel/UCaY2lcv8Lhri_Zg4s8pFUfA">Youtube</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md">
                            <h5>Мы</h5>
                            <ul class="list-unstyled text-small">
                                <span itemprop="employee" itemscope itemtype="https://schema.org/Person">
                                    <li><a target="_blank" class="link-secondary" itemprop="url"
                                           href="https://www.instagram.com/leshich999/">
                                        <span itemprop="name">Леша</span></a>
                                    </li>
                                </span>
                                <span itemprop="employee" itemscope itemtype="https://schema.org/Person">
                                    <li><a target="_blank" class="link-secondary" itemprop="url"
                                           href="https://www.instagram.com/stepa.aa/">
                                        <span itemprop="name">Степа</span></a>
                                    </li>
                                </span>
                                <span itemprop="employee" itemscope itemtype="https://schema.org/Person">
                                    <li><a target="_blank" class="link-secondary" itemprop="url"
                                           href="https://www.instagram.com/tikhonnnnn/">
                                        <span itemprop="name">Тихон</span></a>
                                    </li>
                                </span>
                            </ul>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>
{% endblock %}
