{% extends "base.html" %}

{% load static %}

{% block metrika %}{% include "metric.html" %}{% endblock %}

{% block title %}Успешный платеж{% endblock %}

{% block style %}
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap" rel="stylesheet">
    <style>
        body { background-color: #000000; }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <section class="row no-gutters align-items-center">
            <div class="col-12 text-center d-flex">
                <h1 class="position-absolute translate-middle text-white gornijchaij-title"
                    style="position:absolute;left: 50%;transform: translate(-50%, -50%);font-size:5vw;">
                    <br><br><br><br>Спасибо за Вашу покупку, {{ user.first_name }}!
                </h1>
            </div>
        </section>
    </div>
    <img alt="background" src="{% static 'background2.jpeg' %}" class="img-fluid" style="width:100%;">

    <div class="container">
        <div class="text-white text-center">
            <p>Скоро вам на почту придет письмо с билетом. Обратите внимание, что в "gmail" оно может попасть в раздел
                промо-акции.</p>
        </div>
    </div>

    <div class="container">
        <div class="text-center text-white">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">
                        Горный Чай © {% now 'Y' %}
                        <button type="button" class="btn btn-link link-secondary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            Напишите сюда, если что-то не работает
                        </button>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" id="issue">

                <div class="d-flex justify-content-center align-middle my-5">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/submit_issue.2.js' %}"></script>
{% endblock %}
