{% extends "concert.html" %}

{% load static %}

{% block style %}
    <style>
        body {
            background-color: #000000;
        }

        .dialogue {
            line-height: 1.25;
            overflow: hidden;
            margin-bottom: -2.5em;
        }

        p,
        h3 {
            color: #ffffff;
        }

        img {
            width: 100%;
        }

        h2 {
            font-family: 'Playfair Display SC', serif;
            color: #ffffff;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="text-center" style="background-image: url({% static 'poster.jpeg' %});">
        <div class="container pt-5" itemscope itemtype="https://schema.org/MusicEvent">

            <center>
                <div class="col-md-2 pb-3 px-0">
                    <img src="{% static 'poster 2.jpeg' %}" itemprop="image"
                         class="img-thumbnail rounded-circle img-fluid" alt="Мы на фото">
                </div>
            </center>

            <h3 itemprop="name">Миша Мещерин и Горный Чай в PUNK FICTION</h3>
            <div itemprop="description">
                <p>
                    3 марта в 19:00 в баре «PUNK FICTION» пройдёт совместный концерт Миши Мещерина и
                    группы «Горный Чай». Помимо уже известных песен Миши вы услышите
                    композиции с дебютного EP «Горного Чая»
                </p>

                <p>
                    Вход строго 14+ (на входе оригинал паспорта или водительского
                    удостоверения)
                </p>
            </div>

            <div itemprop="location" itemscope itemtype="https://schema.org/Place">
                <p itemprop="name">
                    <a class="link-secondary" href="{{ concert.place_url }}" itemprop="url">
                        <span itemprop="name">{{ concert.place_name }}</span></a>:
                    <span itemprop="address">{{ concert.place_address }}</span>
                </p>
            </div>

            <center>
                <div class="col-md-3 px-0">
                    <img src="{% static 'punkfiction.png' %}" class="rounded mx-auto d-block" alt="Punkfiction">
                </div>
            </center>

            <br>
            <h2 class="pb-2">14+</h2>

            <div class="d-grid gap-2 pb-5">
                {% if concert.is_active %}
                    <a href="{% url 'buy-ticket' concert_id=concert.id %}" role="button" class="btn btn-outline-light">
                        Купить билет</a>
                {% else %}
                    <a href="{% url 'buy-ticket' concert.id %}" aria-disabled="true" role="button"
                       class="btn disabled btn-outline-light">Концерт прошел</a>
                {% endif %}
            </div>

            <meta itemprop="startDate" content="{{ concert.start_date_time|date:"c" }}">
            {% if concert.end_date_time %}
                <meta itemprop="endDate" content="{{ concert.end_date_time|date:"c" }}">
            {% endif %}
            <meta itemprop="eventStatus" content="{{ concert.status }}">
            <meta itemprop="eventAttendanceMode" content="OnlineEventAttendanceMode">
            {% if concert.image %}
                <meta itemprop="image" content="{{ concert.image.url }}">
            {% endif %}

            {% include "footer.html" %}
        </div>
    </div>
{% endblock %}
